.post h1 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
    font-weight: 600;
    border-bottom: 1px solid #eee;
}

.post h2 {
    font-size: 1.3rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
    font-weight: 600;
}

.post h3 {
    font-size: 1.1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
    font-weight: 600;
}

.post p {
    line-height: 2.0;
    margin-bottom: 0.9rem;
    color: #555;
}

.post ul{
    margin-bottom: 0.9rem;
    list-style-type: disc;
    list-style-position: inside;
}

.post ol{
    margin-bottom: 0.9rem;
    list-style-type: decimal;
    list-style-position: inside;
}

.post li{
    margin-bottom: 0.4rem;
}

.post a{
    color: #007bff;
    text-decoration: none;
}

.post .link-card{
    border: 2px solid black;
}

.post pre{
    border-radius: 5px;
    margin-bottom: 1rem;
}

.post code{
    border-radius: 5px;
}

@media (max-width: 768px) {
    .post code{
        font-size: 0.8rem;
    }
    
}
