---
type Props = {
    name: string;
    id: string;
};

const { name, id } = Astro.props;
---

<div class="w-max sm:px-4 px-3 py-1 border rounded-full sm:text-[1rem] text-[0.8rem]">
    <a href={`/tags/${id}/1`}>
        # {name}
    </a>
</div>
