---
import Container from "../../layouts/Container.astro";
---

<div class="bg-white pt-[1.7rem]">
    <Container>
        <div class="flex sm:justify-between h-[150px] px-[14px]">
            <div class="mt-[-14px]">
                <a href="/">
                    <img
                        src="/logo.png"
                        alt="logo"
                        width={100}
                        height={30}
                        class="mb-[9px]"
                    />
                </a>
                <p class="text-[#bbb] text-[0.8rem]">AIってすげえ。</p>
            </div>
        </div>
    </Container>
    <div class="border-t text-center py-[10px] text-[#bbb] text-[0.8rem]">&copy; AI media 2025</div>
</div>
